<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Banking System Tests" parallel="methods" thread-count="5">
  <test name="Accounts Tests">
    <classes>
      <class name="testing.AccountsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
